.pizza-info {
    color: var(--outline);
    font-family: "Roboto", sans-serif;
}

.pizza {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border: 1px solid var(--outline);
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    padding: 0.5rem;
    flex: 1 1 400px;
    max-width: 300px;
    box-sizing: border-box;
    height: 370px;
    width: 300px;
}

.toppings-container {
    margin-left: 5rem;
    display: grid;
}

.pizza-button {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    padding: .5rem 1rem;

}